build/
bin
.bin
*.class
node_modules
npm-packages-offline-cache
.yarnrc
yarn.lock
.gradle
.history/
src/main/resources/config/
.DS_Store
.project
.externalToolBuilders/
*.launch
*.pydevproject
.vscode/
.cproject
.classpath
.factorypath
.buildpath
.target
.settings
.springBeans
.sts4-cache/
.recommenders/
.idea
*.iml
.checkstyle
.pmd
.pmdruleset.xml
*.iws
*.ipr
*.log
vm/offsite/data
labs/samples/concourse-sample/data
labs/samples/concourse-sample/keys