build
bin
.bin
node_modules
npm-packages-offline-cache
.yarnrc
yarn.lock
.gradle
src/main/resources/config/
.DS_Store
.project
.externalToolBuilders/
*.launch
*.pydevproject
.vscode
.cproject
.classpath
.factorypath
.buildpath
.target
.settings
.springBeans
.recommenders/
.idea
*.iml
.checkstyle
.pmd
.pmdruleset.xml
*.iws
*.ipr
*.log
vm/offsite/data